@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #fff;
  color: #000;
}

.btn-primary{
  @apply bg-[#3FBA96] font-semibold font-sans text-white md:mx-0 mx-auto rounded-lg py-3 px-6 flex items-center gap-2
}

::-webkit-scrollbar{
  width: 0.5rem;
}

::-webkit-scrollbar-track{
  background-color: #fff;
}

::-webkit-scrollbar-thumb{
  background-color: gray;
  border-radius: 1rem;
  background-clip: content-box;
}

table, th, td{
    border: 1px solid black;
}

.home{
  background-image: url(./assets/Images/mrlawn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 70vh;
}
